# Generate with: openssl rand -hex 32
APP_SECRET=replace-me-with-a-random-string
# Required for two-factor authentication, generate with: openssl rand -hex 32
TWO_FACTOR_ENCRYPTION_KEY=replace-me-with-a-64-character-hex-string
# Contact address Let's Encrypt uses for expiry notices.
CADDY_EMAIL=email@example.com
DISABLE_TELEMETRY=1
